@keyframes MoveUpDown{
    0% {
        transform: translateY(50%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(50%);
    }
}

@keyframes SinkingAnim{
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes Grown{
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}